# Ixtiyoriy: sayt aloqa va ijtimoiy havolalar (Vite: faqat VITE_ prefiksli kalitlar clientga chiqadi)
# VITE_SUPPORT_EMAIL=support@sizning-domen.uz
# VITE_SOCIAL_INSTAGRAM=https://www.instagram.com/sizning_akkaunt
# VITE_SOCIAL_TELEGRAM=https://t.me/sizning_kanal
# VITE_SOCIAL_FACEBOOK=https://www.facebook.com/sizning-sahifa
